<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="log4j-custom-layout" packages="">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="${env:LOG_LEVEL:-INFO}">
			<AppenderRef ref="stdout"/>
		</Root>
	</Loggers>
</Configuration>
